.page{ 
    border: 1px solid hotpink;
    max-width: 768px;
    margin:auto ;
    padding: 20px; 
}

.header{
    width:100% ;
    margin-bottom: 20pc;
    border: 1px solid hotpink;
}

.header__title{
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main{
 width: 100%;
border-top: 1px solid black  ;
border-bottom: 1px solid black ;
padding: 20px; ;

}

.intro{
    width: 100% ;
    display: flex;
}

.intro__img{
 width: 320px;
 height: 420px;
}

.intro__text{
  width: 400px; 
  margin-left: 30px;
}

.biograhy{
    width:100% ;
    display: flex;
}

.biograhy__text{
    width: 400px;
    margin-right: 30px;
}
 
.biograhy__img{
    width: 320px;
    height: 420px;   
}